.box{
	border-radius: 10px;
	height: 160px;
	color: white;
}
.tah{
	background-image: linear-gradient(to right, #3070A1,  #00AEEF );
}
.erk{
	background-image: linear-gradient(to right, #0C961D,  #3CDF50 );
}
.ayl{
	background-image: linear-gradient(to right,#CA47C1, #FF7BB3);
	background-image: 
}
/*.ver_tex{
	margin-top:50%;
}*/
